.cards__text {
  margin: 21px 0 0 51px;
  height: 19px;
  left: 15.94%;
  right: 20%;
  top: calc(50% - 19px / 2 - 224px);
  font-family: 'Trebuchet MS';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
}
