body {
  margin: 0;
}
@import url(./vendor/font.css);
@import url(./blocks/cats/cats.css);
@import url(./blocks/cats/__title/cats__title.css);
@import url(./blocks/cards/cards.css);
@import url(./blocks/cards/__but/cards__but.css);
@import url(./blocks/cards/__description/cards__description.css);
@import url(./blocks/cards/__figcaption-text/cards__figcaption-text.css);
@import url(./blocks/cards/__figcaption-text/_in-active/cards__figcaption-text_in-active.css);
@import url(./blocks/cards/__item-container/cards__item-container.css);
@import url(./blocks/cards/__item-container/_active/cards__item-container_active.css);
@import url(./blocks/cards/__item-disabled/cards__item-disabled.css);
@import url(./blocks/cards/__item/cards__item.css);
@import url(./blocks/cards/__oval-text/cards__oval-text.css);
@import url(./blocks/cards/__oval/cards__oval.css);
@import url(./blocks/cards/__oval/_active/cards__oval_active.css);
@import url(./blocks/cards/__subtitle/cards__subtitle.css);
@import url(./blocks/cards/__text/cards__text.css);
@import url(./blocks/cards/__title/cards__title.css);
